Repository pierce-smith1/yok.scr, pull requests merged in 2024-03, with the labels that each got.

#42 Add Trails
  Resource.rc
  common.h
  config.h
  configdialog.cpp
  resourcew.h
  scene.cpp
  sprite.cpp
  sprite.h
  yokscr.vcxproj
Labels: config, visual feature

#43 Destroy all warnings
  common.h
  config.cpp
  config.h
  configdialog.cpp
  configdialog.h
  context.cpp
  context.h
  graphics.h
  noise.cpp
  noise.h
  palettes.cpp
  palettes.h
  scene.cpp
  sprite.cpp
  sprite.h
  spritecontrol.cpp
  spritecontrol.h
  yokscr.vcxproj
Labels: dev

#44 Custom palettes
  Resource.rc
  bitmaps.cpp
  bitmaps.h
  common.h
  config.cpp
  config.h
  configdialog.cpp
  configdialog.h
  palettes.cpp
  palettes.h
  resourcew.h
  spritecontrol.cpp
  yokscr.cpp
  yokscr.h
Labels: config, visual feature

#55 Add predefined palettes in the palette customizer
  Resource.rc
  common.h
  configdialog.cpp
  configdialog.h
  palettes.cpp
  resourcew.h
Labels: bug, config
